<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSRegion" value="us-west-2" />

    <add key="toDebug" value ="Y"/>

    <add key="pdfBucketName" value = "sua-liveboard" />
    <add key="docxBucketName" value = "sumup-docx-outbound" />

    <add key="outputDir" value = "C:\transfer\solid-conversions\" />
    <add key="extractWorkDir" value = "C:\transfer\solid-conversions\work" />
    <add key="tempDocDir" value = "C:\transfer\solid-conversions\tempdoc\" />
    
    <add key="licensePath" value = "C:\transfer\solid-documents\license\license.xml" />

    <!-- extension will be added in order to make testing available on 1 machine 
        timestamp will be added at the end of the filename
        log file moved to Nlog configuration 
    -->

    <add key="listenerQueueName" value ="https://sqs.us-west-2.amazonaws.com/788455561198/sumup-pdf-conversion"/>
    <add key="confirmationQueueName" value ="https://sqs.us-west-2.amazonaws.com/788455561198/sumup-pdf-conversion-confirmation"/>

    <add key="maxIdleTime" value ="30"  />
    <add key="sleepTimeMillis" value ="5000"  />

    <add key ="languageMapFile" value = "C:\transfer\solid-conversions\mappings\language-codes.csv" />
    <add key ="threeMapFile" value = "C:\transfer\solid-conversions\mappings\mapping-from-structure-and-data-cleaned-win.csv" />
    <add key ="twoMapFile" value = "C:\transfer\solid-conversions\mappings\mapping-from-structure-and-data-one-level.csv" />
    <add key ="nonMapFile" value = "C:\temp\non-mapped-document-categories.txt" />
    
    <add key ="DbConnectionString" value ="server=liveboard0913.cjvgiw4swlyc.us-west-1.rds.amazonaws.com;database=sum_up;uid=yerem;pwd=sua.liveboard.2018;" />
         
    </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>